.searched-product-wrapper{
    display: flex;
    height: auto;
    max-width: 50vw;
    min-width: 20vw;

    margin-bottom: 2vh;
    padding: 2vw;

    gap: 2vw;

    background-color: rgb(241, 241, 241);
}

.edit-form-cont{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.edit-form-cont input{
    border: none;
    border-bottom: solid 0.5px black;

    background-color: rgba(255, 255, 255, 0);
}


#header-text{
    font-size: larger;
}

#send-button{
    background-color: black;
    color: white;


    border: none;
    border-radius: 20px;
    padding: 0.7rem;
    width: 50%;
    transition: all 0.5s;
    height: 20%;
}

#send-button:hover{
    background-color: rgb(39, 39, 39);

    scale: 1.1;
}